*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body
{
    width: 60%;
    margin: auto;
    background-color: #EFF5F5;
}
nav
{
    margin-top: 20px;
}
 nav a
{
    background-color:  #1F8A70 ;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 3px 3px 5px gray
}
nav a:hover
{
    background-color: #FC7300;
}
.form
{
    width: 400px;
    background-color:  #00425A;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Playfair Display', serif;
    box-shadow: 7px 13px 37px #000;
}
.form h3
{
    font: size 20px;
    margin-bottom: 20px;
    color: white;
}
.controls
{
    width: 100%;
    background-color:  #EFF5F5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid red;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #181823;
}
.form p
{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form .boton
{
    width: 100%;
    background-color:  #1F8A70;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.form .boton:hover
{
    background-color:#FC7300 ;
}
@media screen and (max-width: 768px)
{
    body
    {
        width: 768px;
        margin: auto;
    }
    .container
    {
    width: 768px;    
    }
}
@media screen and (max-width: 320px)
{
    body 
    {
        width: 320px;
        margin: auto;
    }  
     .container
    {
     width: 320px;     
    }
}